<div class="container">
  <h1 class="text-center">My Surveys</h1>
  <hr />
  <% if @surveys.empty? %>
  <div class="col-md-8 col-md-offset-2 text-center">
    <h3>You currently don't have any surveys. Why don't you create one?</h3>
    <a class="btn btn-primary" href="/surveys/new">Create a Survey</a>
  </div>
  <%else%>
  <table class="table table-hover table-striped">
    <thead>
      <th>Name</th>
      <th># of questions</th>
      <th># of responses</th>
      <th>Date Created</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <% @surveys.each do |survey| %>
      <tr>
        <td><a href="/<%= survey.ref_code %>"><%= survey.survey_name %></a></td>
        <td><%= survey.questions.count %></td>
        <td><a href="/surveys/<%= survey.id %>/responses"><%= survey.responses.count %></a></td>
        <td><%= survey.created_at.strftime("%b-%d-%Y") %></td>
        <td><a class="btn btn-warning btn-xs float-right" href="/surveys/<%= survey.id %>/edit">✎ Edit</a></td>
        <td>
          <form class="form-horizontal" action="/surveys/<%=survey.id%>/delete" method="POST">
            <input name="_method" type="hidden" value="delete" />
            <button class="btn btn-danger btn-xs" type="submit">× Delete</button>
          </form>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>