<div class="container">
  <h1><%= @survey.survey_name %></h1>
  <br>
  <ol>
    <form name="responses" action="/surveys/<%=@survey.ref_code%>/responses" method="POST">
    <% @survey.questions.each do |question| %>
    <br>
      <a href="/questions/<%=question.id%>/edit">Edit this Question</a>
      <form action = "/questions/<%=question.id%>/delete" method = "POST">
        <input name="_method" type="hidden" value="DELETE"/>
        <input type ="submit" value = "DELETE"/>
      </form>
      <br>
      <li><h2><%= question.content %></h2></li>
      <ol>
      <%if current_user == @survey.user%>
      <%end%>
      <% question.answers.each do |answer| %>
        <input id="response[<%= question.id  %>]" type="radio" name="response[<%= question.id %>]" value="<%= answer.id %>" text="<%= answer %>">
        <label for="response[<%= question.id  %>]"><%= answer.content %></label>
        <%if current_user == @survey.user%>
          <a href="/answers/<%=answer.id%>/edit">Edit This Answer</a>
        <form action = "/questions/<%=answer.id%>/delete" method = "POST">
          <input name="_method" type="hidden" value="DELETE"/>
          <input type ="submit" value = "DELETE"/>
        </form>
        <%end%>
      <%end%>
      </ol>
    <%end%>
  </ol>
  <input type="submit">
  </form>
</div>
