<div class="container">
  <h1><%= @survey.survey_name %></h1>
  <br>
  <ol>
    <form name="responses" action="/surveys/<%=@survey.ref_code%>/responses" method="POST">
    <% @survey.questions.each do |question| %>
    <br>
      <a href="#">Edit this Question</a>
      <a href="#">Delete this Question</a>
      <br>
      <li><h2><%= question.content %></h2></li>
      <ol>
      <%if current_user == @survey.user%>
      <%end%>
      <% question.answers.each do |answer| %>
        <input id="response[<%= question.id  %>]" type="radio" name="response[<%= question.id %>]" value="<%= answer.id %>" text="<%= answer %>">
        <label for="response[<%= question.id  %>]"><%= answer.content %></label>
        <%if current_user == @survey.user%>
          <a href="#">Edit This Answer</a>
          <a href="#">Delete This Answer</a><br>
        <%end%>
      <%end%>
      </ol>
    <%end%>
  </ol>
  <input type="submit">
  </form>
</div>

