<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1><%= @survey.survey_name %></h1>
    <form action="/surveys/<%= @survey.ref_code %>/responses" method="POST">
      <% @survey.questions.each_with_index do |question, index| %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <%= index + 1 %>. <%= question.content %>
          <% if current_user == @survey.user %>
          <a class="btn btn-warning btn-xs" id="Question <%=question.id%>" href="/questions/<%=question.id%>/edit">✎ Edit</a>
          <% end %>
        </div>
        <div class="panel-body">
          <% question.answers.each do |answer| %>
          <div class="radio">
            <label>
              <input id="response[<%= question.id  %>]" type="radio" name="response[<%= question.id %>]" value="<%= answer.id %>" text="<%= answer %>">
              <%= answer.content %>
              <% if current_user == @survey.user %>
              <a href="/answers/<%=answer.id%>/edit">✎ Edit</a>
              <% end %>
            </label>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
      <button class="btn btn-primary" type="submit">Submit</button>
      <button class="btn btn-default" type="reset">Clear</button>
    </form>
  </div>
</div>



